{% extends "index.html" %}
{% block page_content %}
<div class="page-header">
	<h2>{{ m }}</h2>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Datum</th>
      <th scope="col">Zacetek</th>
      <th scope="col">Konec</th>
      <th scope="col">Število ur</th>
    </tr>
  </thead>
  <tbody>
  	{% for dan in dnevi %}
    <tr>
      <th scope="row">{{ dan.id }}</th>
      <td>{{ moment(dan.datum).format('ll') }}</td>
      <td>{{ moment(dan.zacetek).format('ll') }}</td>
      <td>{{ dan.konec }}</td>
      <td>{{ dan.stevilo_ur }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}